@import "../../styles/vars";

/* コンテナ */

.containerOuterTimeLine {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  overflow-x: hidden;
}

.containerTimeLine {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}


/* ヘッドライン */

.containerHeadline{
  width: 100%;
  min-height: 500px;
  display: flex;
}


/* 列 */

.colsTimeLine {
  width: 25%;
  overflow: visible;
}

.colsTimeLine:nth-child(1) {
  background: #FFBF10;
}

.colsTimeLine:nth-child(2) {
  background: #FFFF00;
}

.colsTimeLine:nth-child(3) {
  background: #B7FF00;
}

.colsTimeLine:nth-child(4) {
  background: #33B600;
}


/* セル */

.containerCell {
  opacity: 0.96;
  position: relative;
  overflow: visible;
}

.containerCell:hover {
  opacity: 1;
  animation: cellMouseOver 0.3s;
  transform: scale(1.2) rotate(0deg);
  z-index: $zIndex_timeline + 10;
}

@keyframes cellMouseOver {
  0% {
    transform: scale(1) rotate(0deg);
  }
  40% {
    transform: scale(1.12) rotate(8deg);
  }
  80% {
    transform: scale(1.24) rotate(-4deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

.containerCellImage {
}

.containerCellImage:hover {
}

.colsTimeLine:nth-child(1) .containerCell:hover {
  box-shadow: 0 0 30px #FFBF10;
}

.colsTimeLine:nth-child(2) .containerCell:hover {
  box-shadow: 0 0 30px #FFFF00;
}

.colsTimeLine:nth-child(3) .containerCell:hover {
  box-shadow: 0 0 30px #B7FF00;
}

.colsTimeLine:nth-child(4) .containerCell:hover {
  box-shadow: 0 0 30px #33B600;;
}


/* オーバーレイ */

.overlayDescription {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: $zIndex_timeline + 100;
  pointer-events: none;
}

.overlayDescriptionTextBox {
  background: rgba(30, 30, 30, 0.9);
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgba(200, 255, 250, 0.5);
  box-shadow: 0 0 100px 10px #eefff8;
}

.overlayDescriptionText {
  font-size: 1.1rem;
  color: #eec;
  filter: drop-shadow(1px 1px 0px #a0a0ee);
}

@media (max-width: #{$media_s}px) {
  .overlayDescription {
    display: none;
  }

}
